extends layout

block pageContent
  #contents.contents1
    div(align='center')
      h1 #{gene}
  #result.variants
    div(align='center')
      h1 Variation
      hr
      h2.description VCF
      div(style='overflow:auto;height:300px', 'float: center')
        table.hoverTable
          thead
            th Chromosome
            th Position
            th Variant Nucleotide
            th Reference
          tbody
            each variant in variants
              tr
                td #{variant.chromosome}
                td #{variant.position}
                td #{variant.alternate}
                td #{variant.reference}
    #{alleleC}
  #result.InteractionNetwork
    div(align=center)
      h1.title Regulatory Interaction Network
      hr
      h2.description Genes targeted by #{gene}
      div(style='overflow: auto;height:300px', 'float: center')
        table.hoverTable
          thead
            th Target Locus
            th Chromosome
            th Start
            th End
            th In Prior
            th Rank
          tbody
            each result in data
              tr
                td 
                  a(href="http://rice.plantbiology.msu.edu/cgi-bin/gbrowse/rice/?name=" + result.target_locus) #{result.target_locus}
                td #{result.chromosome}
                td #{result.start}
                td #{result.end}
                td #{result.prior}
                td #{result.rank}
    div(align=center)
      h2.description Transcription Factor Activity
      each plt in plots
        | <img src=#{plt} /> 