extends layout

block pageContent
  .intro
    h1.introTitle
      a(href="http://rice.plantbiology.msu.edu/cgi-bin/gbrowse/rice/?name=" + gene) #{gene}
    h2 #{coord.chrom}, #{coord.start} - #{coord.end}
  hr
  .contents
    h1 Variation
    hr
    h2 VCF
    div
      <!-- p #{alleleC} -->
      <!-- p #{gtC} -->
      table.hoverTable
        thead
          th Chromosome
          th Position
          th Reference Nucleotide
          th Alternative Nucleotide
          th Reference Frequency
          th Alternate Frequency
        tbody
          each variant in variants
            tr
              td #{variant.chromosome}
              td #{variant.position}
              td #{variant.reference}
              td #{variant.alternate}
              td
              td
  hr
  .contents
    h1.introTitle Interaction Network
    hr
    h2 Genes targeted by #{gene}
    .info
      .left
        h3.small Local Network Summary
        - var num_of_targets = data.length
        p Number of targets:
        p= num_of_targets
        p Number of that existed in prior:
        p Number of targets with a second regulator:

      .right
        p 
          | chromosome distribution histogram of 
          | target location
        p Or a graphical representation representation of local network

        - var chrC = {}
        - function chrCount(in_array) {
        -   var arr = in_array, obj = {}
        -   for (var i = 0; i < arr.length; i++) {
        -     if (!obj[arr[i].chromosome]) {
        -       obj[arr[i].chromosome] = 1
        -     } else if (obj[arr[i].chromosome]) {
        -       obj[arr[i].chromosome] += 1
        -     }
        -   }
        -   return obj
        - }
        - chrC = chrCount(data)
        <!-- each obj, index in chrC -->
        <!--  p= index -->
        <!--  p= obj -->
    .left
      h1 Interaction Network
    .right
      h1 Transcription Factor Activity
  #IntNet
    table.hoverTable
      thead
        th Target Locus
        th Chromosome
        th Start
        th End
        th In Prior
        th Rank
        th Variance Explained (Median)
      tbody
        each result in data
          tr
            td 
              a(href="http://rice.plantbiology.msu.edu/cgi-bin/gbrowse/rice/?name=" + result.target_locus) #{result.target_locus}
            td #{result.chromosome}
            td #{result.start}
            td #{result.end}
            td #{result.prior}
            td #{result.ranksum}
            td #{result.varianceExplained}
  #TFA
    h2 Transcription Factor Activity
    each plt in plots
      | <img src=#{plt} />