html
  head 
    title Test3
    link(rel='stylesheet', href='/style.css')
  body
    h1 List of target genes for regulator #{gene}
    table
      thead
        tr.head
          th Target Locus
          th Interaction ID
          th Gene Model ID
          th Target ID
      tbody
        each result in data
          tr
            td #{result.target_locus}
            td #{result.interaction_id}
            td #{result.gmID}
            td #{result.target_id}